body {
    margin: 0;
    padding: 0;
    background: rgb(27, 95, 114);
    color: white;
}

header {
    height: 5vh;
    padding: 1%;
    color: rgb(22, 75, 92);
    background-color: rgb(59, 150, 150);
}

header div {
    float: left;
    margin: 0.5em 0;
}

header nav {
    float: right;
}

header ul {
    margin: 0.5em 0;
}

header a {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

header ul > li {
    display: inline;
}

header ul li a:hover {
    transition: 0.5s;
    transform: scale(2);
    color: black;
    background-color: beige;
}

#p1 {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(77, 192, 218);
    overflow: auto;
}
.one {
    background-color: blueviolet;
}
.one::placeholder,
.two::placeholder,
.three::placeholder {
    color: white;
}
.two {
    background-color: rgb(226, 92, 43);
}
.three {
    background-color: rgb(226, 183, 43);
}

fieldset {
    border: 5px solid white;
}
