* {
  margin: 0;
  padding: 0;
}
header {
  background: url(images/1.0.jpg) no-repeat bottom;
  background-size: cover;
}
header .container {
  background: rgba(0, 0, 0, 0.7);
  color: rgb(233, 241, 241);
  position: relative;

}
header .navbar {
  margin: 0;
  padding: 10px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
li {
  margin: 15px;
  padding: 10px;
  position: relative;
}
li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #19746b;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}
li:hover::after {
  width: 100%;
}
.informations {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: left;
}
#infos{
padding: 10%;
}
.photo {
    height: 150px;
  }
  img {
    width: 200px;
    border-radius: 50%;
    border: 3px solid #19746b;
  }
  .about_me {
    padding: 10px;
    border-radius: 20px;
  }
  #user_name {
    margin: 0;
  }
  #hobby {
    margin: 5px;
  }
 fieldset{
     margin-top: 50px;
     width: 50%;
 }
  fieldset legend {
    color: rgb(93, 160, 160);
}
